
@layer priority1, priority2, priority3, priority4, priority5, priority6, priority7, priority8;
@layer priority1{
@keyframes x18re5ia-B{from{opacity:0;}to{opacity:1;}}
@keyframes x1wc8ddo-B{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
}
@layer priority2{
.xkladdv{animation:x1wc8ddo-B infinite 20s linear}
.xoumuey{border:1px solid #eee}
.x1kr9q8o{border:2px solid #000}
.x1bl9orw{margin:0 1rem}
.x19bbpc0{margin:0 auto}
.x1v36x0e{margin:20px auto}
.x1717udv{padding:0}
.xdu11s1{padding:1.5em}
.x7z7khe{padding:10px}
.x1uz70x1{padding:1rem}
.x1qhigcl{padding:20px}
}
@layer priority3{
.x16rqkct{border-radius:50%}
.xur7f20{border-radius:8px}
.xou54vl{gap:16px}
.x1a2a7pz{outline:none}
.xb3r6kr{overflow:hidden}
.x1r8a4m5{text-decoration:inherit}
.x1hl2dhg{text-decoration:none}
.x1f5mfz7{transition:border-color .25s}
.x1b185zu{transition:color .3s}
.xhf3uvu{transition:filter .3s}
.xwwlqu2:focus, :focus-visible{outline:4px auto -webkit-focus-ring-color}
.x8ve93a:hover{border-color:#4b51b7}
}
@layer priority4{
.xlh3980{-moz-osx-font-smoothing:grayscale}
.xvmahel{-webkit-font-smoothing:antialiased}
.x6s0dn4{align-items:center}
.x1elz88c{animation-duration:29s,2s}
.x77zgwx{animation-iteration-count:infinite,infinite}
.x1lthck4{animation-name:x1wc8ddo-B,x18re5ia-B}
.x1m6ci5k{animation-timing-function:linear,ease-out}
.x1pyj4ig{background-color:#050F1AE8}
.x1wyi52x{background-color:#33445788}
.x1l5t2tb{background-color:#3E3E3E57}
.xyrra7z{background-color:#4B97B7CF}
.x7vvwvu{background-color:#54C3EF9E}
.xa81htb{background-color:#bdbdbd}
.x679uo6{background-color:rgba(0,0,0,.8)}
.x18d0r48{background-size:cover}
.xijnpox{box-shadow:0 4px 8px rgba(0,0,0,.1)}
.xcco1i1{color:#33445788}
.xnb10qq{color:#4a86c7}
.x1tzlrjm{color:#FFFFFFCF}
.xttq42n{color:rgba(255,255,255,.8)}
.x1ypdohk{cursor:pointer}
.x78zum5{display:flex}
.xrvj5dj{display:grid}
.xkvlv{font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;}
.xjb2p0i{font-family:inherit}
.xif65rj{font-size:14px}
.xssmaz0{font-size:3.2em}
.xo1l8bm{font-weight:400}
.xk50ysn{font-weight:500}
.x117nqv4{font-weight:bold}
.xl501l6{grid-template-columns:repeat(4,1fr)}
.xl56j7k{justify-content:center}
.x1qughib{justify-content:space-between}
.x1159mfc{line-height:1.1}
.x1evy7pa{line-height:1.5}
html:not([dir='rtl']) .x5ib6vp{padding-left:20px}
html[dir='rtl'] .x5ib6vp{padding-right:20px}
html:not([dir='rtl']) .xc73u3c{padding-right:20px}
html[dir='rtl'] .xc73u3c{padding-left:20px}
.x10l6tqk{position:absolute}
.xixxii4{position:fixed}
.x1n2onr6{position:relative}
.x2b8uid{text-align:center}
.x6ow6l{transform-origin:bottom right}
.xii97ek{transform:scale(.3)}
.xscpjr8{will-change:filter}
.xfo81ep{z-index:1000}
.x1q2oy4v{z-index:9999}
.xr5g4ud:hover{color:#3E3E3E57}
.xp1v1j9:hover{color:rbg(106,115,123)}
.x1fx4rhq:hover{filter:drop-shadow(0 0 2em #61dafbaa)}
.x4d7tka:hover{filter:drop-shadow(0 0 2em #646cffaa)}
.x1lcra6a:hover{transform:scale(1.1)}
.xvruv2t:active{transform:scale(.9)}
@media (prefers-color-scheme: light){.x1dy3lm3.x1dy3lm3{background-color:#FFFFFF33}}
@media (max-width: 600px){.x1fc7d7z.x1fc7d7z{flex-direction:column}}
@media (max-width: 768px){.x9hwn5b.x9hwn5b{grid-template-columns:repeat(1,1fr)}}
}
@layer priority5{
.x5yr21d{height:100%}
.xpyat2d{height:100px}
.x7g90rz{height:13em}
.x1jmrah7{height:19em}
.xrlp1an{height:256px}
.x1vd4hg5{height:300px}
.xt7dq6l{height:auto}
.xu96u03{left:0}
.x1bwycvy{max-height:100vh}
.x179dxpb{max-height:80vh}
.xdnzh0y{max-height:90%}
.x193iq5w{max-width:100%}
.x16xn7b0{max-width:100vw}
.x18rnjlb{max-width:100wv}
.xq8v1hd{max-width:90%}
.x1a8lsjc{padding-bottom:10px}
.x889kno{padding-top:10px}
.x13vifvy{top:0}
.xh8yej3{width:100%}
.x1exxlbk{width:100px}
.x1t9vceh{width:256px}
.xktia5q{width:80%}
.x14atkfc{width:auto}
.x1f1wgk5:hover::after{width:100%}
}
@layer priority6{
.x12rrdww::after{transition:width .3s}
}
@layer priority7{
.x7iaryz::after{background-color:#4B97B7CF}
.x1s928wv::after{content:""}
.x1j6awrg::after{position:absolute}
}
@layer priority8{
.x1xrz1ek::after{bottom:0}
.x3cntg4::after{height:2px}
.x17cx49::after{left:0}
.xkj6t0a::after{width:0}
.x4eaejv::after{width:100%}
}